*{
    margin: 0%;
}

#navbar li{
    list-style: none;
    margin: 50px;
    color: aqua;
}
nav{
    display: flex;
}
nav ul {
    display: flex;
    margin-left: 1200px;
}
h1{
    margin: 50px;
}
nav ul a{
     text-decoration: none;
}

#section1 img{
    height: 700px;
    margin-left: 3%;
    width: 1801px;
}
/* #section1{
    display: block;
    margin: auto;
} */
#section2 img{
    height: 124px;
    border-radius: 45px;
    width: 148px;
}